.container {
    display: flex;
    width: 710px;
    height: 380px;
    background-color: #ffffff;
    margin-left: 1160px;
    margin-top: -780px;
    border-radius: 5px;

    h3 {
        margin: 20px 0 0 20px;
    }
}