.news {
    width: 800px;
    height: 749px;
    background-color: #FFFFFF;
    margin-left: 300px;
    margin-top: -780px;
    border-radius: 5px;
    position: absolute;

    h3 {
        margin-left: 23px;
        margin-top: 15px;
    }

    .block {
        width: 594px;
        height: 88%;
        margin-top: 1px;
        margin-left: 20px;

        .inner_block {
            display: flex;
            position: relative;
            margin-top: 20px;
            width: 759px;
            height: 115px;
            border-radius: 10px;
            box-shadow: 3px 3px 5px rgba(0,0,0,0.12), 1px 1px 8px rgba(0,0,0,0.24);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);

            &:hover {
            box-shadow: 2px 5px 9px rgba(0,0,0,0.25), 5px 8px 18px rgba(0,0,0,0.22);
            }
            
            h5 {
                margin-top: 10px;
                margin-left: 10px;
            }

            p {
                margin-top: -15px;
                margin-left: 14px;
                font-size: 15px;
                opacity: 0.6;
            }
    
        }
    }

}