.container {
    display: flex;
    flex-direction: column;
    width: 256px;
    height: 850px;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0 3px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    h1 {
        margin: 15px 0 0 15px;
    }
    
    
    div {

        margin-top: 60px;

        margin-left: 50px;
        
        h4 {
            margin-top: -10px;
            font-size: 18px;
        }
    }

    // .sidebar--open {
    //     width: 50px;
    //     transition: width 0.3s ease;
    //   }
}